<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="./firebase-storage-behavior.html">
<link rel="import" href="../../../bower_components/polymerfire/firebase.html">
<script src="../../../bower_components/chance/chance.js"></script>

<script>
  'use strict';

  Polymer({
    is: 'firebase-storage',

    properties: {
      progress: {
        type: Number,
        notify: true
      },
      uploadTask: {
        type: Number,
        notiify: true
      }
    },

    behaviors: [
      Polymer.FirebaseStorageBehavior
    ],

    observers: [
      '__refChanged(ref)'
    ],

    /**
     * @override
     */
    get isNew() {
      return !this.path;
    },

    /**
     * @override
     */
    get zeroValue() {
      return {};
    },

    save: function(parentPath) {
      return new Promise(function(resolve, reject) {
        var path;

        if (!this.app) {
          reject(new Error('No app configured!'));
        }

        path = (parentPath ? parentPath : this.path) + '/' + chance.guid() + '-' + this.data.name ;
        this.uploadTask = this._setFirebaseValue(path, this.data);
        var self = this;

        this.uploadTask.on('state_changed', function(snapshot) {
          self.progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log(self.progress);
          switch (snapshot.state) {
            case 'paused':
              self.fire('file-paused', snapshot, { bubbles: false});
              break;
            case 'running':
              self.fire('file-running', snapshot, { bubbles: false});
              break;
          }
        }, function(error) {
          reject(error);
        }, function() {
          resolve(self.uploadTask);
        });

        // if (key) {
        //   path = parentPath + '/' + key;
        //   resolve(this._setFirebaseValue(path, this.data));
        // } else {
        //   path = firebase.database(this.app).ref(parentPath)
        //       .push(this.data, function(error) {
        //         if (error) {
        //           reject(error);
        //           return;
        //         }

        //         resolve();
        //       }).path.toString();
        // }

        this.path = path;
      }.bind(this));
    },

    /**
     * @override
     */
    reset: function() {
      this.path = null;
      return Promise.resolve();
    },

    /**
     * @override
     */
    destroy: function() {
      return this._setFirebaseValue(this.path, null).then(function() {
        return this.reset();
      }.bind(this));
    }
  });
</script>